* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #fff;
  --main-hd-color: #000;
  --main-text-color: #1f1e1e;
  --main-title-color: #da291c;
  --main-bgul-color: #3D3C3C;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Josefin Sans", sans-serif;
  color: var(--main-text-color);
  margin: auto;
  line-height: 1.7;
  min-width: 250px;
  font-size: 1.5rem;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--main-title-color);
}

h2 {
  font-size: 5rem;
  font-weight: 400;
}

h3 {
  font-size: 3rem;
}

.logo {
  width: 4rem;
}

/* ---------Header---------- */
header {
  background-color: var(--main-hd-color);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;
}
header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
header .menu {
  display: flex;
}
header .menu li {
  padding: 0.5rem 0.5rem;
  list-style: none;
  transition: 0.5s ease-in-out;
}
header .menu li .menu__item {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--main-bg-color);
}
header .menu li :hover {
  background-color: var(--main-title-color);
}
header .ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
header .ham span {
  display: block;
  background-color: var(--main-bg-color);
  height: 0.2rem;
  width: 1.5rem;
  margin: 0.3rem auto;
  border-radius: 0.1rem;
}

/* ---------Header---------- */
/* --------banner---------- */
.main__banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -10;
}
.main__banner img {
  width: 100%;
}
.main__banner .main__banner--title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 200px;
  position: absolute;
  margin-left: 10%;
  line-height: 3rem;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
.main__banner p {
  color: var(--main-hd-color);
}

/* ----------body----------- */
main {
  max-width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/* -----------productos--------- */
.titlepos {
  display: none;
  margin: 3rem auto;
}
.titlepos :first-child {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.productos__pospago {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem auto;
}
.productos__pospago .productos__pospago--container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}
.productos__pospago img {
  width: 100%;
}
.productos__pospago picture {
  display: flex;
  margin: auto;
}

.planespospago {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.planespospago div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 3rem 0.5rem;
}
.planespospago dt p {
  background-color: var(--main-hd-color);
  color: var(--main-bg-color);
  padding: 1rem;
  width: 25rem;
}
.planespospago .precio,
.planespospago .minutos {
  text-align: center;
  background: var(--main-bgul-color);
  color: var(--main-bg-color);
  padding: 1rem;
  width: 25rem;
}
.planespospago .servicio {
  text-align: center;
  padding: 1rem;
  width: 25rem;
}
.planespospago .call {
  margin: 0.8rem auto;
}

.btn-blk {
  background-color: Var(--main-text-color);
  color: Var(--main-bg-color);
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.btn-rojo {
  background-color: var(--main-title-color);
  color: var(--main-bg-color);
  font-size: 1.5rem;
  border-radius: 0.7rem;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

.btn-blk:hover {
  background-color: var(--main-title-color);
  transform: scale(1.2);
}

.btn-rojo:hover {
  background-color: var(--main-text-color);
  transform: scale(1.2);
}

.roaming {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem auto;
}
.roaming img {
  width: 100%;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem auto;
}
.services div {
  width: 30%;
}

.prepago {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}
.prepago .prepago__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.prepago .prepago__pasate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.prepago h3,
.prepago img {
  margin: 2rem;
}

/* -------------Promociones------------- */
.promociones__title {
  display: none;
}

.promociones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 4rem auto;
}
.promociones .promociones__triplica {
  display: flex;
  justify-content: flex-start;
  margin: 3rem auto;
}
.promociones .promociones__triplica--text,
.promociones .promociones__pack--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  margin: 2rem auto;
}
.promociones h2 {
  margin: 2rem auto;
}
.promociones .promociones__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 2;
  margin: 3rem auto;
}
.promociones .promociones__pack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promociones picture {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.promociones picture img {
  width: 60%;
}

.promociones__others--title {
  text-align: center;
}

.promociones__others--list {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
}
.promociones__others--list li {
  width: 30%;
  list-style: none;
}

/* ----------nosotros----------- */
.main__section {
  display: grid;
  justify-content: space-around;
  text-align: justify;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 6rem auto;
  grid-template-areas: "uno dos" "uno tres" "cuatro cuatro" "cinco cinco";
}
.main__section .uno {
  grid-area: uno;
}
.main__section .uno h2 {
  text-align: center;
}
.main__section .dos {
  grid-area: dos;
}
.main__section .tres {
  grid-area: tres;
}
.main__section .cuatro {
  grid-area: cuatro;
}
.main__section .cinco {
  grid-area: cinco;
}
.main__section .main__section--title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 2rem;
  text-indent: 2rem;
}

/* ----------Segunda Seccion----------- */
.second__section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "users" "paragraphuno" "paragraphdos" "infoUno";
}
.second__section .second__section--info {
  grid-area: users;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.second__section .second__section--info div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second__section i {
  font-size: 7rem;
}
.second__section .second__Section--paragraphuno,
.second__section .second__section--paragraphdos {
  grid-area: paragraphuno;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: justify;
  text-indent: 2rem;
}
.second__section .second__section--paragraphdos {
  grid-area: paragraphdos;
}
.second__section .second__section--infouno {
  grid-area: infoUno;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin: 1rem 4rem;
}
.second__section i:hover {
  color: var(--main-title-color);
}

/* ----------nosotrossfin----------- */
/* -----------encuentranos--------- */
.section__title--map {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 3rem auto;
}
.section__title--map :first-child {
  margin: 3rem auto;
}

.section__map {
  margin: 0 0 2rem 0;
}

.section__map--container,
.location {
  width: 80%;
  height: 80vh;
  margin-bottom: 3rem;
}

/* -------------Contacto------------ */
.title__contacto {
  text-align: center;
  margin: 4rem auto;
}

.contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 2rem auto;
  flex-wrap: wrap;
  width: 100%;
}
.contacto .mensajes div,
.contacto .email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 3rem 1rem;
}
.contacto .data {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0.3rem;
  width: 100%;
}
.contacto .form {
  text-align: center;
}
.contacto input {
  border: none;
  outline: var(--main-bgul-color) solid 1px;
  border-radius: 0.4rem;
  margin: 0.2rem;
  padding: 0.2rem;
  width: 100%;
  font-size: 1.5rem;
}
.contacto label {
  margin: 0.3rem;
  width: 50%;
  cursor: pointer;
}
.contacto .btn-form {
  width: 100%;
  text-align: center;
}
.contacto .btn-form button {
  margin: 0.3rem;
}
.contacto .area {
  width: 100%;
}
.contacto .area textarea {
  border: none;
  border-radius: 0.4rem;
  outline: var(--main-bgul-color) solid 1px;
  width: 100%;
  resize: none;
  font-size: 1.5rem;
}
.contacto .data input:focus {
  border: none;
  outline: var(--main-title-color) solid 1px;
  border-radius: 0.3rem;
}
.contacto .area textarea:focus {
  border: none;
  outline: var(--main-title-color) solid 1px;
  border-radius: 0.3rem;
}
.contacto .mensajes div {
  width: 100%;
  align-items: flex-start;
}
.contacto .mensajes a,
.contacto i {
  padding: 1rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--main-hd-color);
}
.contacto .mensajes .fa-whatsapp:hover {
  color: #075E54;
}
.contacto .mensajes .fa-facebook-messenger:hover {
  color: #006AFF;
}
.contacto .mensajes .fa-telegram:hover {
  color: #0088CC;
}
.contacto .mensajes .fa-instagram:hover {
  color: #C13584;
}

/* -------------footer------------ */
/* -----------footer-------- */
footer {
  background-color: var(--main-hd-color);
  color: var(--main-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}
footer .footer__socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
footer i {
  font-size: 2rem;
  color: var(--main-bg-color);
}
footer i:hover {
  color: var(--main-title-color);
}

/* -------------media------------ */
@media only screen and (max-width: 1380px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-bg-color: #fff;
    --main-hd-color: #000;
    --main-text-color: #1f1e1e;
    --main-title-color: #da291c;
    --main-bgul-color: #3D3C3C;
  }

  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--main-bg-color);
    font-family: "Josefin Sans", sans-serif;
    color: var(--main-text-color);
    margin: auto;
    line-height: 1.7;
    min-width: 250px;
    font-size: 1.2rem;
    font-weight: 400;
  }

  h1,
h2,
h3 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--main-title-color);
  }

  h2 {
    font-size: 3rem;
    font-weight: 400;
  }

  h3 {
    font-size: 2rem;
  }

  header .menu {
    display: flex;
  }
  header .menu li {
    padding: 0.3rem 0.3rem;
    list-style: none;
    transition: 0.5s ease-in-out;
  }
  header .menu li .menu__item {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--main-bg-color);
  }
  header .menu li :hover {
    background-color: var(--main-title-color);
  }

  .main__banner--title p {
    display: none;
  }

  .services div {
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  .productos__pospago img {
    width: 80%;
    margin: 3rem auto;
  }
  .productos__pospago .productos__pospago--container {
    width: 60%;
    text-align: center;
  }

  .services {
    flex-wrap: wrap;
  }
  .services div {
    margin: 2rem auto;
    text-align: center;
    width: 30%;
  }

  .prepago {
    text-align: center;
    margin: 0 auto;
  }
  .prepago .prepago__container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .prepago .prepago__container :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .prepago .prepago__container picture {
    margin: 0 0 0 4rem;
  }
  .prepago .prepago__pasate {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .prepago .prepago__pasate .prepagoTitleFour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  .prepago h3 {
    margin: 2rem;
  }
  .prepago img {
    width: 80%;
  }

  .promociones__triplica {
    flex-direction: column;
  }

  .promociones__pack {
    flex-direction: column-reverse;
  }

  .promociones__others--list {
    text-align: center;
  }
  .promociones__others--list li {
    width: 80%;
    margin: 1rem auto;
  }

  .main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main__section p {
    margin: 1rem auto;
  }

  .agents {
    width: 50%;
    line-height: 1;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__map--container,
.location {
    width: 80vw;
    height: 50vh;
    margin-bottom: 3rem;
  }

  .data {
    align-items: center;
  }
  .data label,
.data input {
    margin: 0.2rem;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.2rem;
  }

  .contacto .mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contacto .mensajes div {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .mensajes span {
    display: none;
  }

  .mensajes i {
    font-size: 3rem;
  }

  footer {
    font-size: 1rem;
  }
  footer p {
    display: none;
  }
  footer .footer__socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 10px;
  }
  footer .footer__socialMedia i {
    font-size: 2rem;
    margin: 5px;
  }
}
@media only screen and (max-width: 600px) {
  main {
    margin: 0 auto;
  }

  p {
    font-size: 1rem;
  }

  h1,
h2,
h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-title-color);
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .logo {
    width: 3rem;
  }

  header {
    position: sticky;
  }
  header .header__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0;
  }
  header .header__container ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
  }
  header .header__container ul li {
    width: 100%;
    text-align: center;
    padding: 1rem;
  }
  header .menu.active {
    display: flex;
    text-decoration: none;
    -webkit-animation: menu 0.5s ease-in-out both;
            animation: menu 0.5s ease-in-out both;
  }
  header .ham {
    display: block;
    position: absolute;
    top: 2.2rem;
    right: 1.3rem;
  }

  .main__banner--title p,
.main__banner--title h1 {
    display: none;
  }

  .productos__pospago img {
    width: 80%;
    margin: 3rem auto;
  }
  .productos__pospago .productos__pospago--container {
    width: 60%;
    text-align: center;
  }

  .planespospago dt p {
    width: 15rem;
  }
  .planespospago .precio,
.planespospago .minutos {
    width: 15rem;
  }
  .planespospago .servicio {
    width: 15rem;
  }
  .planespospago .call {
    margin: 0.8rem auto;
  }

  .services {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .services div {
    margin: 1rem auto;
    text-align: center;
    width: 100%;
  }

  .prepago {
    text-align: center;
    margin: 0 auto;
  }
  .prepago .prepago__container {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .prepago .prepago__container :first-child {
    flex-direction: column;
  }
  .prepago .prepago__container picture {
    margin: 0 2rem 0 0;
  }
  .prepago .prepago__pasate .prepagoTitleFour {
    flex-direction: column;
  }
  .prepago h3 {
    margin: 2rem;
  }
  .prepago img {
    width: 80%;
  }

  .promociones__title {
    display: flex;
  }

  .promociones {
    margin: 2rem auto;
  }
  .promociones .promociones__triplica {
    margin: 0rem;
  }
  .promociones li {
    font-size: 1rem;
  }

  .promociones__triplica {
    margin: 0 auto;
  }

  .promociones__pack {
    flex-direction: column-reverse;
  }

  .promociones__others--list {
    flex-direction: column;
  }

  .main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem auto;
  }
  .main__section p {
    margin: 1rem auto;
  }

  .banner--map {
    width: 100%;
    margin-left: 0%;
  }

  .section__title--map {
    flex-direction: column;
    margin: 0 auto 4rem;
  }

  .data {
    flex-direction: column;
    align-items: center;
  }
  .data input {
    border: none;
    margin: 0.2rem;
    padding: 0.1rem;
    width: 80%;
  }

  .contacto .mensajes {
    display: block;
    flex-direction: row;
    text-align: center;
  }

  .mensajes span {
    display: none;
  }

  .mensajes i {
    font-size: 3rem;
  }

  footer {
    font-size: 1rem;
  }
  footer p {
    display: none;
  }
  footer .footer__socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 10px;
  }
  footer .footer__socialMedia i {
    font-size: 2rem;
    margin: 5px;
  }
}
/* -------------keyframe------------ */
@-webkit-keyframes slidein {
  from {
    margin-left: 60%;
  }
  to {
    margin-left: 10%;
  }
}
@keyframes slidein {
  from {
    margin-left: 60%;
  }
  to {
    margin-left: 10%;
  }
}
@-webkit-keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */