* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #fff;
  --main-hd-color: #000;
  --main-text-color: #1f1e1e;
  --main-title-color: #da291c;
  --main-bgul-color: #3D3C3C;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Josefin Sans", sans-serif !important;
  color: var(--main-text-color);
  margin: auto;
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  line-height: 1.7 !important;
}

h1,
h2,
h3 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--main-title-color);
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

.logo {
  width: 4rem;
}

/* ---------Header---------- */
.header {
  background-color: var(--main-hd-color);
  position: sticky;
  width: 100%;
  top: 0%;
  z-index: 1000;
}
.header .header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header nav {
  width: 50%;
}
.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header li {
  list-style: none;
  font-size: 1em;
}
.header a {
  text-decoration: none;
  color: var(--main-bg-color);
  transition: 0.2s;
}

li a:hover {
  border-bottom: var(--main-title-color) 4px solid;
}

/* ---------Header---------- */
/* --------banner---------- */
.main__banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -10;
}
.main__banner img {
  width: 100%;
}
.main__banner .main__banner--title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 200px;
  position: absolute;
  line-height: 3rem;
  font-weight: 700;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}
.main__banner p {
  font-size: 1.5rem;
  font-weight: 300;
}

/* ----------body----------- */
main {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/* -----------productos--------- */
.titlepos {
  margin: 50px 0;
  height: 130%;
}
.titlepos .titlepos__container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.productos__pospago {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.productos__pospago .productos__pospago--container {
  display: inline-block;
  width: 49%;
  margin-bottom: 20px;
}
.productos__pospago img {
  width: 100%;
}

.planespospago {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  flex-wrap: wrap;
}
.planespospago div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 100px 5px;
}
.planespospago dt p {
  background-color: var(--main-hd-color);
  color: var(--main-bg-color);
  padding: 10px;
  width: 350px;
}
.planespospago .precio,
.planespospago .minutos {
  background: var(--main-bgul-color);
  color: var(--main-bg-color);
  padding: 10px;
  width: 350px;
}
.planespospago .servicio {
  padding: 10px;
  width: 350px;
}
.planespospago .call {
  margin: 10px 0 0 0;
}
.planespospago .btn-rojo {
  background-color: var(--main-title-color);
  color: var(--main-bg-color);
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}
.planespospago .btn-rojo:hover {
  background-color: var(--main-text-color);
  transform: scale(1.2);
}

.roaming {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.roaming img {
  width: 100%;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.services div {
  width: 30%;
}

.prepago {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
}
.prepago .prepago__container,
.prepago .prepago__pasate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
}
.prepago h3,
.prepago img {
  margin: 2rem;
}

/* -------------Promociones------------- */
.promociones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
}
.promociones .promociones__triplica {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;
}
.promociones .promociones__triplica--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  margin: 0 2rem 0 0;
}
.promociones .promociones__triplica--text p {
  text-indent: 1rem;
}
.promociones h3 {
  margin: 0 0 2rem 0;
}
.promociones .promociones__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 2;
  margin: 3rem 0 0 0;
}
.promociones .promociones__pack {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promociones .promociones__pack--text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 0 0 3rem;
}
.promociones picture {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.promociones__others--title {
  text-align: center;
}

.promociones__others--list {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}
.promociones__others--list li {
  width: 30%;
  list-style: none;
}

/* ----------quienessomos----------- */
.main__section {
  display: grid;
  justify-content: space-around;
  text-align: justify;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 50px 0 0 0;
  grid-template-areas: "uno dos" "uno tres" "cuatro cuatro" "cinco cinco";
}
.main__section .uno {
  grid-area: uno;
}
.main__section .dos {
  grid-area: dos;
}
.main__section .tres {
  grid-area: tres;
}
.main__section .cuatro {
  grid-area: cuatro;
}
.main__section .cinco {
  grid-area: cinco;
}
.main__section .main__section--title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
  text-indent: 2rem;
}

/* ----------Segunda Seccion----------- */
.second__section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: "users" "paragraphuno" "paragraphdos" "infoUno";
}
.second__section .second__section--info {
  grid-area: users;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.second__section .second__section--info div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.second__section i {
  font-size: 5rem;
}
.second__section .second__Section--paragraphuno,
.second__section .second__section--paragraphdos {
  grid-area: paragraphuno;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: justify;
  text-indent: 2rem;
}
.second__section .second__section--paragraphdos {
  grid-area: paragraphdos;
}
.second__section .second__section--infouno {
  grid-area: infoUno;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin: 0 0 50px 0;
}
.second__section i:hover {
  color: var(--main-title-color);
}

/* ----------quienessomosfin----------- */
/* -----------Donde estamos--------- */
.section__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}

.section__map {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "departamentos departamentos" "lista mapa";
  margin: 0 0 100px 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.section__map .section__map--titleList {
  grid-area: departamentos;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.section__map .section__map--menu {
  grid-area: lista;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__map .section__map--container {
  grid-area: mapa;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.section__map ul {
  background-color: var(--main-bgul-color);
  color: var(--main-bg-color);
  border-radius: 10px;
  text-align: center;
  align-items: center;
  width: 500px;
}
.section__map ul li {
  list-style: none;
  padding: 5px;
}
.section__map ul li .submenu {
  display: flex;
  justify-content: center;
  transition: all 2s;
  cursor: pointer;
}

.submenu ul {
  display: none;
  font-weight: 100;
}
.submenu ul a {
  list-style: none;
  text-decoration: none;
  color: var(--main-bg-color);
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  cursor: pointer;
}

.section__map a:hover {
  color: var(--main-title-color);
  border-bottom: 2px solid var(--main-bg-color);
}

.map {
  width: 40rem;
}

/* -------------Contacto------------ */
.title__contacto {
  text-align: center;
  margin: 4rem auto 0;
}

.contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 6rem auto;
  max-width: 900px;
}

#btn-rojo {
  background-color: var(--main-title-color);
  color: var(--main-bg-color);
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 15px;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
#btn-rojo:hover {
  background-color: var(--main-text-color);
  transform: scale(1.2);
}

/* -------------footer------------ */
/* -----------footer-------- */
footer {
  background-color: var(--main-hd-color);
  color: var(--main-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}
footer .footer__socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
}
footer i {
  font-size: 2rem;
  color: var(--main-bg-color);
}
footer i:hover {
  color: var(--main-title-color);
}

/* -------------media------------ */
@media screen and (max-width: 480px) {
  body {
    background-color: var(--main-bg-color);
    font-family: "Josefin Sans", sans-serif !important;
    color: var(--main-text-color);
    margin: auto;
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.7 !important;
  }

  main {
    margin: auto 20px;
    height: 100vh;
    width: 100vw;
  }

  h1,
h2,
h3 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--main-title-color);
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .logo {
    width: 4rem;
  }

  header {
    position: relative;
  }

  .header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .header a {
    font-size: 0.6rem;
  }

  .main__banner--title h1 {
    font-size: 2rem;
    margin: 20px 0 0 0;
  }
  .main__banner--title p {
    display: none;
  }

  .carousel__container img {
    height: 30%;
  }

  .services {
    flex-direction: column;
  }
  .services div {
    width: 100%;
    text-align: justify;
    align-items: center;
  }

  .productos__pospago {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .productos__pospago .productos__pospago--container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    flex-direction: column;
  }

  .prepago__container,
.prepago__pasate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .prepago__container .prepago__container--title,
.prepago__container h3,
.prepago__container img,
.prepago__pasate .prepago__container--title,
.prepago__pasate h3,
.prepago__pasate img {
    margin: 1rem auto;
    text-align: center;
  }
  .prepago__container img,
.prepago__pasate img {
    width: 100%;
  }
  .prepago__container p,
.prepago__pasate p {
    margin-bottom: 2rem;
  }

  .promosiones__triplica,
.promosiones__pack {
    flex-direction: column;
  }
  .promosiones__triplica img,
.promosiones__pack img {
    margin: 1rem auto;
  }

  .promosiones__pack {
    flex-direction: column-reverse;
  }

  .main__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main__section p {
    margin: 1rem auto;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section__title {
    margin: 2rem auto;
  }

  .section__map,
.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section__map h3,
.menuContainer h3 {
    margin: 1rem auto;
  }

  .section__map--menu {
    width: 400px;
  }

  .map {
    display: none;
  }

  footer {
    font-size: 1rem;
  }
  footer p {
    display: none;
  }
  footer .footer__socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 10px;
  }
  footer .footer__socialMedia i {
    font-size: 2rem;
    margin: 5px;
  }
}
/* -------------keyframe------------ */
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}/*# sourceMappingURL=style.css.map */