@media only screen and (max-width: 600px) {
    main {
        margin: 0 auto;
    }
    h1,
    h2,
    h3 {
        font-size: 3rem;
        font-weight: 700;
        color: var(--main-title-color);
    }
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .logo {
        width: 2rem;
    }
    header {
        position: relative;
    }
    .header {
        label {
            display: block;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
        }
        label:hover {
            cursor: pointer;
        }
        nav {
            position: absolute;
            background-color: var(--main-text-color);
            display: none;
            transition: all 1s;
        }
        ul {
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
        }
        a {
            font-size: .8rem;
        }
        #btn-menu:checked~.menu {
            margin: 15rem -20rem 0 0;
            display: block;
        }
    }
    .main__banner--title {
        h1 {
            font-size: 2rem;
            margin: 20px 0 0 0;
        }
        p {
            display: none;
        }
    }
    .services {
        flex-direction: column;
        div {
            width: 100%;
            text-align: justify;
            align-items: center;
        }
    }
    .productos__pospago {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        .productos__pospago--container {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }
    }
    .prepago {
        text-align: center;
        .prepago__container {
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            align-items: center;
        }
        .prepago__pasate {
            flex-wrap: wrap-reverse;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        h3 {
            margin: 2rem;
        }
        img {
            width: 80%;
        }
    }
    // ----------Promosiones-------------
    .promociones__triplica,
    .promociones__pack {
        flex-direction: column;
        img {
            margin: 1rem auto;
        }
    }
    .promociones__pack {
        flex-direction: column-reverse;
    }
    // ----------quienessomos-------------
    .main__section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            margin: 1rem auto;
        }
    }
    // ----------Dondeestamos-------------
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner--map {
        width: 100%;
        height: 40vh;
        margin-left: 0%;
    }
    .section__title--map {
        flex-direction: column;
    }
    // -------------contacto------------
    .data {
        flex-direction: column;
        align-items: center;
        label,
        input {
            margin: .2rem;
            padding: .1rem;
            width: 50%;
            border-radius: .2rem;
        }
    }
    // -------------------------------
    footer {
        font-size: 1rem;
        p {
            display: none;
        }
        .footer__socialMedia {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            margin-right: 10px;
            i {
                font-size: 2rem;
                margin: 5px;
            }
        }
    }
}

// ------------------fin600px----------------
// @media screen and (max-width: 1370px) {
//     body {
//         background-color: var(--main-bg-color);
//         font-family: 'Josefin Sans', sans-serif!important;
//         color: var(--main-text-color);
//         margin: auto;
//         font-weight: 400 !important;
//         font-size: 1rem !important;
//         line-height: 1.7 !important;
//     }
//     main {
//         margin: auto 20px;
//     }
//     h1,
//     h2,
//     h3 {
//         font-size: 3rem;
//         font-weight: 700;
//         color: var(--main-title-color);
//     }
//     h2 {
//         font-size: 2rem;
//         font-weight: 400;
//     }
//     h3 {
//         font-size: 1.5rem;
//         font-weight: 300;
//     }
//     .logo {
//         width: 4rem;
//     }
//     header {
//         position: relative;
//     }
//     .header {
//         ul {
//             display: flex;
//             justify-content: space-evenly;
//             align-items: center;
//             flex-direction: column;
//         }
//         a {
//             font-size: .8rem;
//         }
//     }
//     .main__banner--title {
//         h1 {
//             font-size: 2rem;
//             margin: 20px 0 0 0;
//         }
//         p {
//             display: none;
//         }
//     }
//     .carousel img {
//         height: 30vh;
//         margin: 0 1rem;
//     }
//     .services {
//         flex-direction: column;
//         div {
//             width: 100%;
//             text-align: justify;
//             align-items: center;
//         }
//     }
//     .productos__pospago {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         flex-direction: column;
//         .productos__pospago--container {
//             display: flex;
//             justify-content: center;
//             text-align: center;
//             margin-bottom: 20px;
//             flex-direction: column;
//         }
//     }
//     .prepago__container,
//     .prepago__pasate {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         flex-direction: column;
//         flex-wrap: wrap;
//         .prepago__container--title,
//         h3,
//         img {
//             margin: 1rem auto;
//             text-align: center;
//         }
//         img {
//             width: 100%;
//         }
//         p {
//             margin-bottom: 2rem;
//         }
//     }
//     // ----------Promosiones-------------
//     .promosiones__triplica,
//     .promosiones__pack {
//         flex-direction: column;
//         img {
//             margin: 1rem auto;
//         }
//     }
//     .promosiones__pack {
//         flex-direction: column-reverse;
//     }
//     // ----------quienessomos-------------
//     .main__section {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         p {
//             margin: 1rem auto;
//         }
//     }
//     // ----------Dondeestamos-------------
//     .main {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
//     .section__title {
//         margin: 2rem auto;
//     }
//     .section__map,
//     .menuContainer {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-direction: column;
//         h3 {
//             margin: 1rem auto;
//         }
//     }
//     .section__map--menu {
//         width: 400px;
//     }
//     .map {
//         display: none;
//     }
//     footer {
//         font-size: 1rem;
//         p {
//             display: none;
//         }
//         .footer__socialMedia {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             width: 20%;
//             margin-right: 10px;
//             i {
//                 font-size: 2rem;
//                 margin: 5px;
//             }
//         }
//     }
// }