@mixin boton ($colorBtn, $backBtn) {
    background-color: $backBtn;
    color: $colorBtn;
    font-size: 1.5rem;
    border-radius: .7rem;
    padding: 1rem;
    transition: all .5s ease-in-out;
    border: none;
    cursor: pointer;
}