    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --main-bg-color: #fff;
        --main-hd-color: #000;
        --main-text-color: #1f1e1e;
        --main-title-color: #da291c;
        --main-bgul-color: #3D3C3C;
    }
    
    html:focus-within {
        scroll-behavior: smooth;
    }
    
    body {
        background-color: var(--main-bg-color);
        font-family: 'Josefin Sans', sans-serif;
        color: var(--main-text-color);
        margin: auto;
        line-height: 1.7;
        min-width: 250px;
        font-size: 1.5rem;
        font-weight: 400;
    }
    
    h1,
    h2,
    h3 {
        font-size: 7rem;
        font-weight: 700;
        color: var(--main-title-color);
    }
    
    h2 {
        font-size: 5rem;
        font-weight: 400;
    }
    
    h3 {
        font-size: 3rem;
    }
    
    .logo {
        width: 4rem;
    }
    
    @import "_mixins.scss";
    /* ---------Header---------- */
    
    header {
        background-color: var(--main-hd-color);
        position: sticky;
        width: 100%;
        top: 0;
        z-index: 100;
        .header__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: 100%;
            margin: 0 auto;
        }
        .menu {
            display: flex;
            li {
                padding: .5rem .5rem;
                list-style: none;
                transition: .5s ease-in-out;
                .menu__item {
                    display: block;
                    padding: 1rem;
                    text-decoration: none;
                    color: var(--main-bg-color);
                }
                 :hover {
                    background-color: var(--main-title-color);
                }
            }
        }
        .ham {
            display: none;
            cursor: pointer;
            border: none;
            margin: 0;
            padding: 0;
            background-color: transparent;
            span {
                display: block;
                background-color: var(--main-bg-color);
                height: 0.2rem;
                width: 1.5rem;
                margin: 0.3rem auto;
                border-radius: 0.1rem;
            }
        }
    }
    /* ---------Header---------- */
    /* --------banner---------- */
    
    .main__banner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: -10;
        img {
            width: 100%;
        }
        .main__banner--title {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            height: 200px;
            position: absolute;
            margin-left: 10%;
            line-height: 3rem;
            animation-duration: 2s;
            animation-name: slidein;
        }
        p {
            color: var(--main-hd-color);
        }
    }
    /* ----------body----------- */
    
    main {
        max-width: 90%;
        margin: 2rem auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    /* -----------productos--------- */
    
    .titlepos {
        display: none;
        margin: 3rem auto;
         :first-child {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
        }
    }
    
    .productos__pospago {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 5rem auto;
        .productos__pospago--container {
            display: flex;
            flex-direction: column;
            width: 40%;
            margin: auto;
        }
        img {
            width: 100%;
        }
        picture {
            display: flex;
            margin: auto;
        }
    }
    
    .planespospago {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        div {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin: 3rem .50rem;
        }
        dt p {
            background-color: var(--main-hd-color);
            color: var(--main-bg-color);
            padding: 1rem;
            width: 25rem;
        }
        .precio,
        .minutos {
            text-align: center;
            background: var(--main-bgul-color);
            color: var(--main-bg-color);
            padding: 1rem;
            width: 25rem;
        }
        .servicio {
            text-align: center;
            padding: 1rem;
            width: 25rem;
        }
        .call {
            margin: .8rem auto;
        }
    }
    
    .btn-blk {
        background-color: Var(--main-text-color);
        color: Var(--main-bg-color);
        font-size: 1.5rem;
        border-radius: 10px;
        padding: 15px;
        transition: all .5s ease-in-out;
        border: none;
        cursor: pointer;
    }
    
    .btn-rojo {
        @include boton(var(--main-bg-color), var(--main-title-color));
    }
    
    .btn-blk:hover {
        background-color: var(--main-title-color);
        transform: scale(1.2);
    }
    
    .btn-rojo:hover {
        background-color: var(--main-text-color);
        transform: scale(1.2);
    }
    
    .roaming {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 4rem auto;
        img {
            width: 100%;
        }
    }
    
    .services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 4rem auto;
        div {
            width: 30%;
        }
    }
    
    .prepago {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 100px;
        flex-wrap: wrap;
        .prepago__container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row-reverse;
        }
        .prepago__pasate {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row-reverse;
        }
        h3,
        img {
            margin: 2rem;
        }
    }
    
    // ------------Productosfin---------------
    /* -------------Promociones------------- */
    
    .promociones__title {
        display: none;
    }
    
    .promociones {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        margin: 4rem auto;
        .promociones__triplica {
            display: flex;
            justify-content: flex-start;
            margin: 3rem auto;
        }
        .promociones__triplica--text,
        .promociones__pack--text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: justify;
            flex-direction: column;
            margin: 2rem auto;
        }
        h2 {
            margin: 2rem auto;
        }
        .promociones__list {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            line-height: 2;
            margin: 3rem auto;
        }
        .promociones__pack {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        picture {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            img {
                width: 60%;
            }
        }
    }
    
    .promociones__others--title {
        text-align: center;
    }
    
    .promociones__others--list {
        display: flex;
        justify-content: space-between;
        margin: 5rem auto;
        li {
            width: 30%;
            list-style: none;
        }
    }
    
    // -----------------Promocionesfin--------------
    /* ----------nosotros----------- */
    
    .main__section {
        display: grid;
        justify-content: space-around;
        text-align: justify;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, 1fr);
        margin: 6rem auto;
        grid-template-areas: 'uno dos' 'uno tres' 'cuatro cuatro' 'cinco cinco';
        .uno {
            grid-area: uno;
            h2 {
                text-align: center;
            }
        }
        .dos {
            grid-area: dos;
        }
        .tres {
            grid-area: tres;
        }
        .cuatro {
            grid-area: cuatro;
        }
        .cinco {
            grid-area: cinco;
        }
        .main__section--title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: auto 2rem;
            text-indent: 2rem;
        }
    }
    /* ----------Segunda Seccion----------- */
    
    .second__section {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'users' 'paragraphuno' 'paragraphdos' 'infoUno';
        .second__section--info {
            grid-area: users;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
        i {
            font-size: 7rem;
        }
        .second__Section--paragraphuno,
        .second__section--paragraphdos {
            grid-area: paragraphuno;
            justify-content: center;
            display: flex;
            align-items: center;
            text-align: justify;
            text-indent: 2rem;
        }
        .second__section--paragraphdos {
            grid-area: paragraphdos;
        }
        .second__section--infouno {
            grid-area: infoUno;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            margin: 1rem 4rem;
        }
        i:hover {
            color: var(--main-title-color);
        }
    }
    /* ----------nosotrossfin----------- */
    /* -----------encuentranos--------- */
    
    .section__title--map {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 3rem auto;
         :first-child {
            margin: 3rem auto;
        }
    }
    
    .section__map {
        margin: 0 0 2rem 0;
    }
    
    .section__map--container,
    .location {
        width: 100%;
        height: 60vh;
        margin-bottom: 3rem;
    }
    /* -------------Contacto------------ */
    
    .title__contacto {
        text-align: center;
        margin: 4rem auto;
    }
    
    .contacto {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin: 2rem auto;
        flex-wrap: wrap;
        width: 100%;
        .mensajes div,
        .email {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            margin: 3rem 1rem;
        }
        .data {
            display: flex;
            justify-content: space-between;
            margin: .4rem;
            padding: .3rem;
            width: 100%;
        }
        .form {
            text-align: center;
        }
        input {
            border: none;
            outline: var(--main-bgul-color) solid 1px;
            border-radius: .4rem;
            margin: .2rem;
            padding: .2rem;
            width: 100%;
            font-size: 1.5rem;
        }
        label {
            margin: .3rem;
            width: 50%;
            cursor: pointer;
        }
        .btn-form {
            width: 100%;
            text-align: center;
            button {
                margin: .3rem;
            }
        }
        .area {
            width: 100%;
            textarea {
                border: none;
                border-radius: .4rem;
                outline: var(--main-bgul-color) solid 1px;
                width: 100%;
                resize: none;
                font-size: 1.5rem;
            }
        }
        .data input:focus {
            border: none;
            outline: var(--main-title-color) solid 1px;
            border-radius: .3rem;
        }
        .area textarea:focus {
            border: none;
            outline: var(--main-title-color) solid 1px;
            border-radius: .3rem;
        }
        .mensajes div {
            width: 100%;
            align-items: flex-start;
        }
        .mensajes a,
        i {
            padding: 1rem;
            font-size: 2rem;
            text-decoration: none;
            color: var(--main-hd-color);
        }
        .mensajes .fa-whatsapp:hover {
            color: #075E54
        }
        .mensajes .fa-facebook-messenger:hover {
            color: #006AFF;
        }
        .mensajes .fa-telegram:hover {
            color: #0088CC;
        }
        .mensajes .fa-instagram:hover {
            color: #C13584;
        }
    }
    /* -------------footer------------ */
    
    @import "_footer.scss";
    /* -------------media------------ */
    
    @import "_mediaquery.scss";
    /* -------------keyframe------------ */
    
    @import "_keyframes.scss";